---
import Layout from '@/layouts/Layout.astro';
import Header from '@/sections/Header.astro';
import Hero from '@/sections/Hero.astro';
import AboutSection from '@/sections/AboutSection.astro';
import ActivitiesSection from '@/sections/ActivitiesSection.astro';
import PricingSection from '@/sections/PricingSection.astro';
import ContactSection from '@/sections/ContactSection.astro';
import Footer from '@/sections/Footer.astro';
---

<Layout>
    <Header />

    <main>
        <Hero />
        <AboutSection />
        <ActivitiesSection />
        <PricingSection />
        <ContactSection />
    </main>
    <Footer />
</Layout>
