---
import Layout from '@/layouts/Layout.astro';
import Header from '@/sections/Header.astro';
import Hero from '@/sections/Hero.astro';
import AboutSection from '@/sections/AboutSection.astro';
import ActivitiesSection from '@/sections/ActivitiesSection.astro';
import PricingSection from '@/sections/PricingSection.astro';
import ContactSection from '@/sections/ContactSection.astro';
import Footer from '@/sections/Footer.astro';
---

<Layout>
    <Header />

    <main>
        <Hero />
        <AboutSection />
        <ActivitiesSection />
        <PricingSection />
        <ContactSection />
    </main>
    <Footer />
</Layout>

<style is:global>
    [class*='animate-'] {
        animation-play-state: paused;
    }

    .animate-running {
        animation-play-state: running;
    }
</style>

<script>
    /* script to add the animate-running class to the elements when they are in the viewport */

    const animation_observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                entry.target.classList.add('animate-running');
                animation_observer.unobserve(entry.target);
            }
        });
    });

    const elements = document.querySelectorAll('[class*="animate-"]');
    elements.forEach((element) => {
        animation_observer.observe(element);
    });

    const hrefElements = document.querySelectorAll('a[href^="#"]');

    hrefElements.forEach((anchor: Element) => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            const href = anchor.getAttribute('href') as string;
            const target = document.querySelector(href);

            if (target) {
                target.scrollIntoView({
                    behavior: 'smooth',
                });
            }
        });
    });
</script>
