---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro';
import AboutSection from '@/components/AboutSection.astro';
import ActivitiesSection from '@/components/ActivitiesSection.astro';
import PricingSection from '@/components/PricingSection.astro';
import ContactSection from '@/components/ContactSection.astro';
import Footer from '@/components/Footer.astro';
---

<Layout>
    <Header />

    <main>
        <Hero />
        <AboutSection />
        <ActivitiesSection />
        <PricingSection />
        <ContactSection />
    </main>
    <Footer />
</Layout>
