---
import Logo from '@/images/logo.svg';

const navigation = [
    { label: 'Inicio', href: '#inicio' },
    { label: 'Nosotros', href: '#nosotros' },
    { label: 'Actividades', href: '#actividades' },
    { label: 'Precios', href: '#precios' },
    { label: 'Contacto', href: '#contacto' },
];
---

<header
    class="sticky top-0 z-50 bg-white/95 shadow-sm backdrop-blur-sm transition-all duration-300 ease-in-out"
>
    <div
        class="@scroll-tb:py-2 flex items-center justify-between px-8 py-4 transition-all duration-300"
    >
        <Logo
            class="text-primary @scroll-tb:h-10 @scroll-tb:w-10 md:@scroll-tb:h-12 md:@scroll-tb:w-12 h-12 w-12 font-bold transition-all duration-300 md:h-16 md:w-16"
            title="Logo de Aula Mágica"
        />

        <!-- Desktop Navigation -->
        <nav class="hidden md:block">
            <ul class="flex space-x-8">
                {
                    navigation.map(({ label, href }) => (
                        <li>
                            <a
                                href={`#${href.toLowerCase()}`}
                                class="hover:text-primary font-medium transition-colors"
                            >
                                {label}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>

        <!-- Mobile menu button -->
        <button id="mobile-menu-button" class="md:hidden">
            <svg
                id="menu-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class=""
                ><line x1="4" x2="20" y1="12" y2="12"></line><line
                    x1="4"
                    x2="20"
                    y1="6"
                    y2="6"></line><line x1="4" x2="20" y1="18" y2="18"
                ></line></svg
            >
            <svg
                id="close-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="hidden"
                ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
            >
        </button>
    </div>

    <!-- Mobile Navigation -->
    <nav
        id="mobile-nav"
        class="@scroll-tb: hidden bg-white/70 px-8 py-4 pt-0 md:hidden"
    >
        <ul class="space-y-4">
            {
                navigation.map(({ label, href }) => (
                    <li>
                        <a
                            href={`#${href.toLowerCase()}`}
                            class="hover:text-primary block font-medium transition-colors"
                        >
                            {label}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>

<script>
    // JavaScript para controlar el menú móvil
    document.addEventListener('DOMContentLoaded', () => {
        const mobileMenuButton = document.getElementById('mobile-menu-button');
        const mobileNav = document.getElementById('mobile-nav');
        const menuIcon = document.getElementById('menu-icon');
        const closeIcon = document.getElementById('close-icon');

        if (!mobileMenuButton || !mobileNav || !menuIcon || !closeIcon) {
            return;
        }

        mobileMenuButton.addEventListener('click', () => {
            mobileNav.classList.toggle('hidden');
            menuIcon.classList.toggle('hidden');
            closeIcon.classList.toggle('hidden');
        });

        // Cerrar menú al hacer clic en un enlace
        const mobileLinks = mobileNav.querySelectorAll('a');
        mobileLinks.forEach((link) => {
            link.addEventListener('click', () => {
                mobileNav.classList.add('hidden');
                menuIcon.classList.remove('hidden');
                closeIcon.classList.add('hidden');
            });
        });
    });
</script>
