---
import { Image } from 'astro:assets';
import Banner from '@/images/banner.jpg';
import Kids from '@/images/kids.png';
import Logo from '@/images/logo.svg';
import ArrowDownIcon from '@/icons/ArrowDownIcon.svg';
import StarIcon from '@/icons/StarIcon.svg';
import ArrowRightIcon from '@/icons/ArrowRightIcon.svg';
---

<section class="relative h-[calc(100vh-100px)] overflow-hidden">
    <Image
        src={Banner}
        alt="Paisaje con un castillo en el fondo"
        class="absolute inset-0 -z-10 h-full w-full object-cover object-bottom"
    />

    <a
        href="#nosotros"
        class="animate-bouncing animate-iteration-count-infinite absolute bottom-4 left-1/2 z-10 -translate-x-1/2 transform text-white opacity-70 transition-opacity hover:opacity-100"
    >
        <ArrowDownIcon />
    </a>

    <div class="container grid h-full grid-cols-1 gap-8 py-0 lg:grid-cols-2">
        <div
            class="animate-fade-in-right flex flex-col items-center self-center lg:items-start"
        >
            <Logo class="h-64 w-64 text-white" />

            <p class="text-xl font-semibold text-white italic md:text-2xl">
                "Pequeñas mentes, grandes sueños"
            </p>

            <p class="mb-4 text-lg text-white">
                Jardín infantil con enfoque en valores cristianos y método
                Montessori
            </p>

            <div
                class="text-primary mb-4 w-fit rounded-lg bg-white p-2 font-bold shadow-md"
            >
                <StarIcon class="inline" />
                Matrículas abiertas con 100% de descuento en el primer mes!
            </div>

            <a href="#contacto" class="btn btn-primary">
                Contactanos y matricula tu hijo ahora!
                <ArrowRightIcon class="ml-2 text-white" />
            </a>
        </div>

        <!-- Decoración -->
        <div class="relative hidden self-end lg:block">
            <Image
                src={Kids}
                alt="Niños felices jugando"
                class="animate-fade-in-up animate-delay-500 animate-duration-[1.5s] h-full w-full object-cover"
            />

            <div
                class="bg-aula-yellow animate-jelly animate-delay-700 absolute -top-6 -right-6 h-24 w-24 rounded-full opacity-70"
            >
            </div>

            <div
                class="bg-aula-pink animate-jelly animate-delay-1000 absolute -bottom-6 -left-6 h-16 w-16 rounded-full opacity-70"
            >
            </div>
        </div>
    </div>
</section>
